<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CacheAspect.CacheType" value="CacheAspect.DiskCache" />
    <!-- Working directory is fine for disk cache-->
    <add key="CacheAspect.DiskPath" value="D:\DiskCacheTest\" />    
    <add key="CacheAspect.TimeToLive" value="0:0:5:0" />
  </appSettings>
</configuration>